<%= form_tag import_developers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<% @cohorts.each do |cohort| %>
  <h2><%= "#{cohort.name} #{cohort.version}" %></h2>
  <% cohort.developers.each do |developer| %>
    <p><%= link_to developer.name, developer_path(developer) %></p>
  <% end %>
<% end %>
