<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= developer.display_name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Basic info</h4>
      <% developer.attributes.each_pair do |name, value| %>
        <% next if name == "id" %>
        <% next if name == "application_id" %>
        <p><strong><%= "#{name}:" %></strong>  <%= value %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Exit Tickets</h4>
      <%= render "/exit_tickets/form_table", tickets: developer.exit_tickets, link: true, comments: true %>
    </div>
  </div>
	
	<!-- better way to do this?? -->
	
	<%= range_u1 = Range.new(Date.parse("07-07-2015").to_datetime, Date.parse("30-08-2015").to_datetime); nil  %>
	
<h2>Stats for Unit 1</h2>
<div id="eouStats">
	
	<table class="table table-condensed table-bordered">
		<tr><th colspan="2" bgcolor="#404040">
			<font color="#FFFFFF">Attendance Report</font>
		</th></tr>
		
		<tr><td>Num Days Absent: </td>
			<td id = "num_absent">
				<%= developer.attendances
.num_days_absent_in_range(range_u1).to_i %>
		</td></tr>
		
		<tr><td>Num Days Late: </td>
			<td id= "num_late">
				<%= developer.attendances
.num_days_late_in_range(range_u1).to_i %>
		</td></tr>
		
		<tr><td>Percent Present: </td>
			<td id="percent_present">
				<%= 100* developer
.attendances.rate_in_range(range_u1).round(2) %>%
		</td></tr>
		
		<tr><td>Percent On Time: </td>
			<td id="percent_on_time">
				<%= 100* developer.attendances
.percentage_on_time_in_range(range_u1).round(2) %>%
		</td></tr>
		
		<tr><th colspan="2" bgcolor="#404040">
			<font color="#FFFFFF">Exit Ticket Report</font>
		</th></tr>
		
		<tr><td>Percent Completion: </td>
			<td id="ticket_completion">
				<%= developer.exit_tickets
.completion_rate_in_range(range_u1).round(2)*100 %>%
			</td></tr>
		
		<tr><td>Percent Accuracy: </td>
			<td id="ticket_accuracy">
			<%= developer.exit_tickets
.accuracy_rate_in_range(range_u1).round(2)*100 %>%
		</td></tr>
		
		<tr>
			<th colspan="2" bgcolor="#404040">
				<font color="#FFFFFF">Homework Report</font>
			</th>
		</tr>
		<tr>
			<td>Num Missing: </td>
			<td id="hw_missing">tbd</td>
		</tr>
		<tr>
			<td>HW0: </td>
			<td id="hw0_score">[hw0 score]</td>
		</tr>
		<tr>
			<td>HW0: </td>
			<td id="hw1_score">[hw1 score]</td>
		</tr>
		
	</table>

</div>
</div>