<html>
  <head>
    <% content_for :javascripts do %>
      <%= javascript_include_tag 'developers/developers/index' %>
    <% end %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>    
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <%= image_tag(current_user.image, width: 100, style: "display:block;") %>
          <p><%= @developer.display_name %></p>
        </div>

        <div id="developer_stats" class="col-sm-12">
          
          <div class="panel panel-default">
            <div class = "panel-heading">
              <h3 class="panel-title">Immediate Action</h3>
            </div>
            <div id ="immediate-action" class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Assignment</th>
                    <th>Max score</th>
                    <th>Due Date</th>
                    <th>Github Url</th>
                  </tr>
                </thead>
                <tbody>
                  <% @developer.cohort.active_assignments.each do |assignment| %>
                    <tr>
                      <th><%= assignment.id %></th>
                      <th><%= assignment.max_score %></th>
                      <th><%= pretty_date(assignment.due_at) %></th>
                      <th><%= link_to assignment.github_url, assignment.github_url, target: "_blank" %></th>
                    </tr>
                  <% end %>
                </tbody>
              </table>

              <% unless @unit_attendnaces.nil? %>
                <h5>Late: <%= @unit_attendances.late.count%> / 2</h5>
                <% @unit_attendances.late.each do |late| -%>
                  <p>
                  <strong><%= late.status.gsub('_'," ")%>:</strong>  <%= pretty_date(late.timestamp) %>
                  </p>
                <% end -%>
                </br>
                <h5>Absent: <%= @unit_attendances.absent.count%> / 2</h5>
              <% end %>

            </div>
          </div>

          <div class = "panel panel-default">
            <div class = "panel-heading">
              <h3 class = "panel-title">Assessments</h3>
            </div>
            <div id ="assessments-panel" class="panel-body">
            </div>
          </div>


<!--
          <div class = "panel panel-default">
            <div class = "panel-heading">
              <h3 class = "panel-title">Slack Homework Channel</h3>
            </div>
            <div id="slack-homework-channel-panel" class"panel-body">
            </div>
          </div>
-->


          <div class = "panel panel-default">
            <div class = "panel-heading">
              <h3 class = "panel-title">Attendances</h3>
            </div>
            <div id="attendances-panel" class"panel-body">
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- templates -->

    <div id="units-template" class="template">
      {{#units}}
        <p class="{{klasses}}">unit {{unit}}</p>
      {{/units}}
    </div>

    <div id="assessments-template" class="template">
      {{#assessments}}
      <p>
        <strong>score: </strong><span class="{{klasses}}">{{score}} out of {{max_score}}</span> <br>
        <strong>github url: </strong> <a href="{{github_url}}">{{github_url}}</a><br>
        <strong>due date: </strong> {{due_at}} </a><br>
      </p>
      {{/assessments}}
    </div>

    <div id="attendances-template" class="template">
    </div>

    <!-- /templates -->


  </body>
</html>

<script>
window.developerId = <%= @developer.id %>;
</script>
