<p><strong>First name:</strong> <%= developer.first_name.capitalize %></p>
<p><strong>Last name:</strong> <%= developer.last_name.capitalize %></p>
<p><strong>Email:</strong> <%= developer.email %></p>
<p><strong>Github username:</strong> <%= developer.github_username %></p>
<p><strong>Apple ID:</strong> <%= developer.apple_id %></p>
<p><strong>Phone number:</strong> <%= number_to_phone(developer.phone) %></p>
