<div class="container">
  <div class="row">
    <div class="col-xs-6">

      <%= form_for(@developer) do |f| %>

        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :github_username %>
          <%= f.text_field :github_username, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :apple_id %>
          <%= f.text_field :apple_id, class: 'form-control' %>
        </div>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
