<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav navbar-nav">
          <li><%= link_to "Access Code", root_url, class: "navbar-brand" %></li>
          <li> <%= link_to "Developers", developers_path %> </li>
          <li> <%= link_to "Cohorts", cohorts_path %> </li>
          <li> <%= link_to "Exit Tickets", exit_tickets_path %> </li>
          <li> <%= link_to "Reports", reports_path %> </li>
      </div>
    </div>
  </div>
</nav>
