<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Quality</th>
      <th>Difficulty</th>
      <th>Instructor Comm.</th>
      <th>Instructor Stim.</th>
      <th>Pace &amp; Speed</th>
      <th>Understanding</th>
      <th>Recall</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.each do |t| %>
      <tr>
        <% if defined?(link) && link == true %>
          <td><%= link_to "#{pretty_date(t.created_at)}", exit_ticket_path(t) %></td>
        <% else %>
          <td><%= pretty_date(t.created_at) %></td>
        <% end %>
        <td><%= t.overall_quality %></td>
        <td><%= t.difficulty %></td>
        <td><%= t.instructors_ability_to_communicate %></td>
        <td><%= t.instructors_ability_to_stimulate %></td>
        <td><%= t.pace_and_speed %></td>
        <td><%= t.understanding %></td>
        <td><%= t.recall_information_from_previous_class %></td>
        <td><%= t.additional_comments %></td>
      </tr>
    <% end %>
  </tbody>
</table>
