<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Unit <%= @index %> - <small><%= @percentage_complete %>%</small></h1>
      <p>
        <strong>Start date: </strong>
        <%= pretty_date(@unit.started_at) %>
      </p>
      <p>
        <strong>End date: </strong>
        <%= pretty_date(@unit.ended_at) %>
      </p>

      <h3>Exit Tickets</h3>
      <p><strong>Completion: </strong><%= number_to_percentage(@et_completion_rate * 100, precision: 2) %></p>
      <p>
        <strong>Accuracy: </strong>
        <%= number_to_percentage(@et_accuracy_rate * 100, precision: 2) %> (<%= "#{pluralize(@et_unscored, 'ticket')} unscored" %>)
      </p>

      <h3>Attendance</h3>
      <p><strong>Present: </strong><%= number_to_percentage(@attendance_rate * 100, precision: 2) %></p>
      <p><strong>On time: </strong><%= number_to_percentage(@on_time * 100, precision: 2) %></p>
    </div>
  </div>
</div>
