<%= form_tag votes_path, method: :post, remote: true, id: 'voting_form' do %>
  <%= hidden_field_tag 'clicker_question[id]', @clicker_question.id %>

  <%= render partial: 'clicker_questions/clicker_answer', collection: @clicker_question.clicker_answers, as: :answer %>

    <p><b>Total votes: <%= @clicker_question.votes_summary %></b></p>
  <%= submit_tag 'Vote', class: 'btn btn-lg btn-primary' %>
  <% #end %>
<% end %>
