<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="" method="">
        <div class="form-group">
          <label for="start-date">Start Date</label>
          <input type="date" name="start_date" value="<%= params[:start_date] %>" id="start-date" placeholder="mm/dd/yyyy" />
        </div>
        <div class="form-group">
          <label for="end-date">End Date</label>
          <input type="date" name="end_date" value="<%= params[:end_date] %>" id="end-date" placeholder="mm/dd/yyyy" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <% if defined?(@report) %>
        <p><strong>Attendance (percent present): </strong><%= number_to_percentage(@report.attendance_present_rate * 100, precision: 2) %></p>
        <p><strong>Puncutality (percent on time): </strong><%= number_to_percentage(@report.attendance_on_time_rate * 100, precision: 2) %></p>
        <p><strong>Tardiness (percent late): </strong><%= number_to_percentage(@report.attendance_late_rate * 100, precision: 2) %></p>
        <p><strong>Exit Ticket Completion Rate in Range: </strong><%= number_to_percentage(@report.exit_ticket_completion_rate * 100, precision: 2) %></p>
        <p><strong>Exit Ticket Accuracy Rate in Range: </strong><%= number_to_percentage(@report.exit_ticket_accuracy_rate * 100, precision: 2) %></p>
      <% end %>
    </div>
  </div>
</div>


