<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="" method="">
        <div class="form-group">
          <label for="start-date">Start Date</label>
          <input type="date" name="start_date" value="" id="start-date" placeholder="mm/dd/yyyy" />
        </div>
        <div class="form-group">
          <label for="end-date">End Date</label>
          <input type="date" name="end_date" value="" id="end-date" placeholder="mm/dd/yyyy" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>


<% if defined?(@report) %>
<p></p>
<p><strong>Attendance (percent present): </strong><%= @report.attendance_present_rate %></p>

<p><strong>Tardiness (percent late): </strong><%= @report.attendance_late_rate %></p>

<p><strong>Puncutality (percent on time): </strong><%= @report.attendance_on_time_rate %></p>

<p><strong>Exit Ticket Completion Rate in Range: </strong><%= @report.exit_ticket_completion_rate %></p>

<p><strong>Exit Ticket Accuracy Rate in Range: </strong><%= @report.exit_ticket_completion_rate %></p>

<% end %>